@model FulfillmentViewModel
@{
    ViewData["Title"] = "Fulfillment Status";
    ViewData.AddActivePage(ManageNavPages.Fulfillment);
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #ffff99;
        }
    </style>
</head>

<body>

</body>
</html>
<center><h3>@ViewData["Title"]</h3></center><br />
@if (Model.Fulfillments?.Count > 0)
{
    <h4>Fulfillments</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Request Source</th>
                <th>Urgency</th>
                <th>Request Category</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Notes</th>
            </tr>
            @foreach (var session in Model.Fulfillments)
            {
                <tr>
                    <td>@session.Source</td>
                    <td>@session.Type</td>
                    <td>@session.Category</td>
                    <td>@session.Timestamp</td>
                    <td>
                        @switch(@session.Status)
                                {
                                    case FulfillmentStatus.Unfulfilled: 
                                        <strong style="color:red;">@session.Status</strong>
                                        break;
                                    case FulfillmentStatus.InProgress:
                                        <strong style="color:blue;">@session.Status</strong>
                                        break;
                                    case FulfillmentStatus.Fulfilled:
                                        <strong style="color:green;">@session.Status</strong>
                                        break;
                                    default:
                                        <strong>@session.Status</strong>
                                        break;
                                }
                    </td>
                    <td>@session.Note</td>
                </tr>
            }
        </tbody>
    </table>    
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
