@model AdminFulfillmentViewModel
@{
    ViewData["Title"] = "All Fulfillments";
    ViewData.AddActivePage(AdminNavPages.Fulfillments);
}
<body>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <center><h3>@ViewData["Title"]</h3></center><br />
        @if (Model.Fulfillments?.Count > 0)
        {
            <table class="table">
                <tbody>
                    <tr>
                        <th>Requester </th>
                        <th>Notes</th>
                        <th>Request Source</th>
                        <th>Urgency</th>
                        <th>Request Category</th>
                        <th>Timestamp</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var fulfillment in Model.Fulfillments)
                    {
                        <tr>
                            @if (fulfillment.ApplicationUser != null)
                            {
                                <td>@fulfillment.ApplicationUser.FirstName @fulfillment.ApplicationUser.LastName</td>
                            }
                            <td>@fulfillment.Note</td>
                            <td>@fulfillment.Source</td>
                            <td>@fulfillment.Type</td>
                            <td>@fulfillment.Category</td>
                            <td>@fulfillment.Timestamp</td>
                            <td>
                                @switch(@fulfillment.Status)
                                {
                                    case FulfillmentStatus.Unfulfilled: 
                                        <strong style="color:red;">@fulfillment.Status</strong>
                                        break;
                                    case FulfillmentStatus.InProgress:
                                        <strong style="color:blue;">@fulfillment.Status</strong>
                                        break;
                                    case FulfillmentStatus.Fulfilled:
                                        <strong style="color:green;">@fulfillment.Status</strong>
                                        break;
                                    default:
                                        <strong>@fulfillment.Status</strong>
                                        break;
                                }
                            </td>

                            <td>
                                <form asp-action="ChangeFulfillmentNote" method="get" class="form-group">
                                    <input asp-for="@fulfillment.ID" name="FulfillmentID" type="hidden" />
                                    <button class="btn" type="submit">Update Note</button>
                                </form>
                                <form asp-action="AdvanceFulfillment" method="post" class="form-group">
                                    <input asp-for="@fulfillment.ID" name="FulfillmentID" type="hidden" />
                                    <button class="btn" type="submit">Advance Status</button>
                                </form>        
                            </td>
                        </tr>
                    }
                </tbody>
            </table>    
        }

</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
